*{
    box-sizing: border-box;
}

body{
    font-family: Tahoma, Arial;
}

.quiz-app{
    margin:20px auto;
    width: 800px;
    background-color: #ca404021;
    padding: 15px;
}

.quiz-app .quiz-info
{
    display: flex;
    background-color: #fff;
    padding: 20px;
    
}

.quiz-app .quiz-info .category{
    flex:1;
}

.quiz-app .quiz-info .count{
    flex:1;
    text-align: right;
}

.quiz-app .quiz-area{
    background-color: #fff;
    padding: 20px;
    margin-top: 15px;

}

.quiz-area h2{
    margin :0;
}

.answers-area{
    background-color: #fff;
    padding: 0 20px 20px;
    margin-top: 15px;
}

.quiz-app .answers-area .answer{
    background-color: #f9f9f9;
    padding:15px;
}

.answer:not(:last-child){
    border-bottom: 1px solid #dfdfdf;
}

.answer input[type="Radio"]:checked + label{
    color: #0075ff;
}

.answer label{
    cursor: pointer;
    font-weight: bold;
    color : #777;
    font-size: 14px;
    margin-left: 5px;
    position: relative;
    top: -1px;
}
.button-answer{
    margin: 20px auto;
    background-color: #0075ff;
    display: block;
    width: 100%;
    border: none;
    padding: 10px 15px;
    color:#fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 6px;
}



.button-answer:focus{
    outline: none;
}

.bullets{
    border-top: 1px solid #dfdfdf;
    display: flex;
    background-color: #fff;
    padding: 20px;
    width: 100%;
    margin: auto;
    border-radius: 6px;

}

.bullets .spans{
    display: flex;
    flex: 1;
}

.bullets .spans span{
    width: 20px;
    height: 20px;
    background-color: #DDD;
    margin-right: 5px;
    border-radius: 50%;
    
}


.bullets .spans span.on{
    background-color: #0075ff;
}

.results span{
    font-weight: bold; 
}
.results span.bad{
    color:#dc0a0a; 
}
.results span.good{
    color : #009688;; 
}
.results span.perfect{
    color: #0075ff; 
}